@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

/* IMPORTANT: Add this to prevent the fixed header from covering your titles */
section {
  scroll-margin-top: 100px;
}




.cursor-particle {
  position: fixed;
  left: 0;
  top: 0;

  width: 12px;
  height: 12px;

  border-radius: 999px;

  background: #2563eb;

  pointer-events: none;

  z-index: 99999;

  transform: translate(-50%, -50%);

  filter: blur(2px);

  box-shadow:
    0 0 10px #2563eb,
    0 0 20px #2563eb,
    0 0 40px #2563eb;
}