@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

/* IMPORTANT: Add this to prevent the fixed header from covering your titles */
section {
  scroll-margin-top: 100px;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal {
  animation-name: reveal;
  animation-duration: 1ms;      /* duration is controlled by scroll */
  animation-fill-mode: both;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}